extends layout

block content
  .banner
    h1 Welcome to LocalBites!
    p Find your favorite restaurant.

  .row
    each location in locations
      .col-md-6
        .card.card-primary
          .card-body
            h4 #{location.name}
            p.address #{location.address}
            if location.rating
              p Rating: #{location.rating}
            if location.reviews
              p Reviews: #{location.reviews} reviews
            else
              p No reviews available.
            // View Details Button
            a.btn.btn-primary(href=`/locations/${location.id}`) View Details
