extends layout

block content
  .row.banner
    .col-12
      h1= title
      p= location.name
  .row
    .col-12
      .card
        .card-body
          h2= location.name
          p.address= location.address
          p.rating
            each star in (Array(location.rating).fill(0))
              i.fa.fa-star
            each star in (Array(5 - location.rating).fill(0))
              i.fa.fa-star-o
          .facilities
            each facility in location.facilities
              span.badge.badge-warning= facility
