extends layout

block content
  .container
    h1= title
    p.page-header= pageHeader.strapline

    .row
      each location in locations
        .col-md-4
          .card.mb-4
            .card-body
              h5.card-title= location.name
              p.card-text
                | #{location.address}
                br
                | Rating: #{location.rating} stars
                br
                | Facilities: #{location.facilities.join(', ')}
                br
                | Distance: #{location.distance}
              a.btn.btn-primary(href=`/locations/${location.name}`) View Details
